<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloth Store</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-image: url(https://thumbs.dreamstime.com/z/purchase-order-online-form-deal-concept-85090475.jpg?ct=jpeg);">
    <h1 style="text-align: center;font-size: 800%;color:greenyellow;">Welcome to the Cloth Store</h1>
    <a href="/purchase"><h1 style="text-align:center;font-size: 500%;">Make a Purchase</h1></a>
</body>
</html>

